@model Commerce_Bank.Screen.Models.ViewModel.AccountViewModel
@{
    ViewData["Title"] = "Transactions";
}

<!DOCTYPE html>

<html>
<head>


    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="body">
        <a asp-action="Dashboard" asp-controller="Home">
            <img width=510 height=200 src="https://cdn.discordapp.com/attachments/814265972059930647/829811925202108436/2018-cb-ca-white.png" />
            </a>
            <a asp-action="Logout" asp-controller="Home" class="textButton">
                Log Out
            </a>

            <a href="https://www.commercebank.com/contact-us#" class="textButton">
                Contact Us
            </a>

            <br>
            <br>
    </div>

    <div class="whitebackground2">
        <br>
        <br>
        @*<button class="transactionButton">
            Add Transaction
        </button>*@
        <a asp-action="AddTransaction" asp-controller="Home" class="btn btn-primary transactionButton">
            Add Transaction
        </a>
        <br>
        <br>
        <div class="main">
            <br>
            <br>
            <br>
            <article class="whitebackground3">
                <p style="font-size:25px;float:left;margin:10px">Accounts</p>

                <button class="accountButton">
                    Checking
                    <br>
                    $
                </button>
                <br>
                <button class="accountButton">
                    Savings
                    <br>
                    $
                </button>
                <br>
            </article>

            <article class="whitebackground4">
                <p style="font-size:25px;float:left;margin:10px;">Transactions </p>
                <br>
                <br>
                <table class="table-responsive">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Transaction-Type</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>

                    </thead>
                    <tbody>
                        @{var count = 0;}
                        @foreach (var item in Model.Trasactions)
                        {
                            count += 1;
                            <tr>
                                <td>@count</td>
                                <td>@item.TrasactionType</td>
                                <td>@item.Description</td>
                                <td>@item.Date</td>
                                <td>@item.TrasactionAmount</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*<p style="font-size:25px;border:none;background:#DCDCDC">
                    All your transactions will show up here
                </p>*@
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </article>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
</html>


